@charset "UTF-8";

/* Outline elements */
#error-view {
  color: hsl(0, 100%, 70%);
  font-size: 1rem;

  width: 100vw;
  text-align: center;
  position: fixed;
  z-index: 100; /* High priority (Must be view) */
  bottom: 5vh;
}


/* Control elements */
#response-input {
  display: block;
  width: 200px;
  height: 200px;
  margin-bottom: 2em;
}

#room-id-view {
  color: hsl(0, 0%, 50%);
  font-size: 1rem;
}
